/* Variables */
:root {
  /* Typography */
  --font-family: "Poppins", sans-serif;
  --font-size: 16px;

  /* Colors */
  --dim-grey: #939caa;
  --yellow-color: #fcb72b;
  --white-color: #fff;
  --dark-blue-color: #333a44;
  --blue-color: #495567;
  --light-yellow-color: #fff4df;
}

.our-values {
  padding: 5rem 0;
}

.our-values__title {
  font-size: 2.5rem;
  text-align: center;
  color: var(--blue-color);
  word-spacing: 10px;
}

.our-values__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

@media screen and (min-width: 1010px) {
  .our-values__cards {
    flex-direction: row;
  }
}
