/* Variables */
:root {
  /* Typography */
  --font-family: "Poppins", sans-serif;
  --font-size: 16px;

  /* Colors */
  --dim-grey: #939caa;
  --yellow-color: #fcb72b;
  --white-color: #fff;
  --dark-blue-color: #333a44;
  --blue-color: #495567;
  --light-yellow-color: #fff4df;
  --light-grey: #f8f6f6;
}

.city-listing {
  padding: 4rem 0;
}

.city-listing__container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.question {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.answer {
  margin: 3rem 0;
  text-align: center;
  line-height: 2;
  font-size: 1.2rem;
}

.message-us__btn {
  position: absolute;
  right: 0;
}

@media screen and (min-width: 992px) {
  .city-listing__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
  }

  .question {
    font-size: 2rem;
    text-align: left;
    margin: 0;
    width: 20%;
  }

  .answer {
    width: 40%;
    text-align: initial;
    margin: 0;
    margin-right: auto;
    margin-left: 3rem;
  }
}
